.quincy {
  border: 5px solid black;
  margin-left: -300px;
  height: 833px;
  width: 1800px;
  padding: 0;
  background-image: url('http://files.gamebanana.com/img/ss/guis/5064cd3341404.jpg');
  background-repeat: no-repeat;
  background-position: right top;
}

#quokka {
  img {
    float: left;
    width: 20%;
    position: fixed;
    bottom: 6%;
    right: 70%;
    left: 30%;
    top: 60%;
  }
}
