/*#about {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 500px !important;
    }
    .carousel-control {
      background: none;
    }
    .carousel-indicators {
      display: none;
    }
    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
  }

}*/

.quincy {
  border: 5px solid black;
  height: 833px;
  width: 1200px;
  padding: 0;
  background-image: url('http://img03.deviantart.net/6e42/i/2012/318/1/8/sunny_forest_background_by_burtn-d5kyxxx.jpg');
}

#quokka {
  img {
    float: left;
    width: 10%;
    position: fixed;
    bottom: 0%;
    right: 65%;
    left: 45%;
    top:83%;
  }
}
